appname = rent-by-owner-api
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true

[database]
host = postgres
port = 5432
name = rent_by_owner
user = postgres
password = change-me
sslmode = disable